a{
	text-decoration: none;
	color: #000000;
}

a:hover{
	text-decoration: none;
	color: #000000;
	font-weight: bold;
}

.sel{
		font-weight: bold;
}

#oblig {
	font-size: 0.8em;
	padding-top: 75px;
}

body{
	background-color: #ffffff;
	font-family: Bradley Hand ITC, Cursive;
	color: #000000;
	font-size: 1.3em;
	margin: 0px;
	padding: 0px;
}

div#wrapper{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

div#headerL{
	float: left;
	width: 397px;
	height: 120px;
}

div#headerR{
	float: right;
	width: 239px;
	height: 120px;
}

div#figures{
	clear:both;
	height: 100px;
	background: url(figures.png) no-repeat;
}

div#nav { 
	padding: 0px;
	width: 1000px;
	height: 40px;
	color: #339999;
	border-bottom: solid 2px;
}

ul#navList {
	font-size: 1.5em;
	list-style: none;
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}

ul#navList li{
	float: left;
	text-decoration: none;
	text-align: center;
	width: 150px;
}

div#haupt {
	clear:both;
	float: left;
	width: 460px;
	height: 350px;
	padding:20px;
}

div#bilder{
	float: right;
	width: 460px;
	height: 350px;
	height: 350px;
	margin-top:10px;
	padding:20px;
}

div#haupt_datenschutz {
	font-size:0.8em;
	clear:both;
	float: left;
	width: 960px;
	padding:20px;
}

div#haupt_impressum {
	font-size:0.8em;
	clear:both;
	float: left;
	width: 460px;
	height: 220px;
	padding:20px;
}

div#haupt_kontakt {
	clear:both;
	float: left;
	width: 960px;
	padding:20px;
	text-align: center;
}

div#footer {
	clear:both;
	text-align: center;
	border-top: solid 2px;
	color: #339999;
}

ul#footerList {
	list-style: none;
	width: 320px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}

ul#footerList li{
	float: left;
	text-decoration: none;
	text-align: center;
	width: 200px;